@page "/"

<PageTitle>Start</PageTitle>

<h1>Duesseldorfer Rechner</h1>
<p class="lead">Erfasse die Daten getrennt f&uuml;r Vater, Mutter und Kinder. Die Ergebnis-Seite zeigt, wie viel jeder Elternteil je Kind zahlen soll.</p>

<div class="row g-3">
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">1. Vater</h5>
                <p class="card-text">Einkommen und Abz&uuml;ge des Vaters eintragen.</p>
                <NavLink class="btn btn-primary" href="father">Los geht's</NavLink>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">2. Mutter</h5>
                <p class="card-text">Einkommen und Abz&uuml;ge der Mutter eintragen.</p>
                <NavLink class="btn btn-primary" href="mother">Weiter</NavLink>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">3. Kinder</h5>
                <p class="card-text">Mindestens ein Kind erfassen (Alter, Status).</p>
                <NavLink class="btn btn-primary" href="children">Kinder erfassen</NavLink>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">4. Ergebnis</h5>
                <p class="card-text">Anteile je Elternteil und Kind ansehen.</p>
                <NavLink class="btn btn-success" href="results">Ergebnis</NavLink>
            </div>
        </div>
    </div>
</div>
